body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
}

.button,
.buttons {
    display: flex;
    flex-direction: column;
    width: 8em;
}

button {
    background-color: #3882F6;
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    color: white;
}

button:hover {
    background-color:#002ead;
}


.header,
.footer {
    background-color: #1F2937;
    display: flex;

}

.header {
    justify-content: space-around;
    align-items: center;
}

.footer {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    padding: 25px;
}

.testimonial {
    font-family: Helvetica; 
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    padding: 70px;
    margin: auto;
    flex-wrap: wrap;
}
 .words {
    margin-left: 150px;
    margin-right: 150px;
 }
.name {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}

/* advertise is the container */

.advertise {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color:white;
    margin: 90px;
    margin-left: 175px;
    margin-right: 175px;
    padding: 32px;
}

/* ad is the text itself*/

.ad {
    font-weight: bold;
    font-size: 20px;
    
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}



img {
    max-width: 100%;
}

/* container is the entire section including text and image */

.container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 85px;
}

.image {
    display: flex;
    margin-right: 180px;

}

/* box is the left side. the description */

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 180px;
    padding-right: 40px;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAf8;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.text {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.minitext {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(82, 75, 75);
}

.boxtext {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.vector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 15%;
}