.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.testimonial {
    background-color: #E5E7EB;
    display: flex;

}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}